/*body {
	width: 960px;		Changed this due to misleading directions about width
	height: 725px;

}*/

#containerHeader{
	height: 100px;
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	position: relative;
}

#headerName {
	position: relative;
	float: left;
	width: 350px;
	height: 100px;
	background: #4aaaa5;
	vertical-align: middle;
	text-align: center;
	margin-left: 10%;

}

h1 {
	color: #ffffff;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 28px;
}

.navBar {

}

#headerLinkAbout {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top:35px;
	padding-right: 20px;
	vertical-align: middle;
	text-align: center;
	color: #777777;
	text-decoration: none;


}

#headerLinkPortfolio {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top:35px;
	padding-left: 20px;
	padding-right: 20px;
	border-left: solid 1px #cccccc;
	vertical-align: middle;
	text-align: center;
	color: #777777;
	text-decoration: none;

}

#headerLinkContact {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top:35px;
	margin-right: 10%;
	padding-left: 20px;
	border-left: solid 1px #cccccc;
	vertical-align: middle;
	text-align: center;
	color: #777777;
	text-decoration: none;

}

#containerMain {
	/*width: 960px;
	height: 575px;*/
	width: 100%;
	height:100%;
	background-image: url(../images/new_year_background/new_year_background.png);
	background-repeat: repeat;
	overflow: auto;
	position: relative;
	
}

#containerMainPortfolio {
	/*width: 960px;
	height: 650px;*/
	width: 100%;
	height: 100%;
	background-image: url(../images/new_year_background/new_year_background.png);
	background-repeat: repeat;
	overflow: auto;
	position: relative;
	
	
}

#divMainAbout {

	width: 40%;
	height: 90%;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;

}

#divMainContact {
	width: 55%;
	height: 90%;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 10%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	position:relative;
}

#divMainPortfolio {
	width: 650px;
	height: 580px;
	background: white;
	border: 1px;
	border-color: #dddddd;
	float: left;
	margin-left: 15%;
	margin-top: 35px;
	margin-right: 13.33px;
	margin-bottom: 35px;
	position:relative;
	overflow: auto;
}

h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: solid 3px #cccccc;
	padding-bottom: 20px;
}

#profilePic {
	float: left;
	margin: 0 10px 2px 10px;
	height: 225px; 
	width: 300px;

}

#firstParagraph {

	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

#secondParagraph {
	color: #777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	margin: 10px;
}

#formSheet {
	color: #808080;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 5% 5% 5% 5%;
	font-size: 20px;
}

.textBox {
	color: #cccccc;
	width: 95%;
	margin: 1% 0 1% 0;
	height: 30px;
	font-size: 20px;
}

.submitButton {
	background: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	border: none;
	width:100px;
	height:50px;
	position: relative;
	margin-top: 10px;
	font-size: 18px;
}

textarea {
	border-color: #cccccc;
	width: 95%;
	height: 150px;
	margin: 1% 0 1% 0;
}

#portfolio1 {
	height: 150px;
	width: 200px;
	background-image: url(../images/bread.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 0 10px 83.33px;

}

#portfolio2 {
	height: 150px;
	width: 200px;
	background-image: url(../images/bridge.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 83.33px 10px 83.33px;
}
#portfolio3 {
	height: 150px;
	width: 200px;
	background-image: url(../images/music.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 0 5px 83.33px;
}
#portfolio4 {
	height: 150px;
	width: 200px;
	background-image: url(../images/pig.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 83.33px 10px 83.33px;
}
#portfolio5 {
	height: 150px;
	width: 200px;
	background-image: url(../images/vegas.jpeg);
	background-size: 200px 150px;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	margin: 0 0 10px 83.33px;
}

.innerPortfolio {
	position: absolute;
	bottom: 2mm;
	background-color: #4aaaa5;
	height: 50px;
	width: 200px;
	color: #ffffff;
	text-align: center;
}

.portfolioText {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.divConnect {
	background: white;
	float: right;
	margin-top: 5%;
	margin-right: 10%;
	margin-left:0;
	width: 20%;
	height: 150px;

}

h3 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin: 15px 10px 15px 10px;
	text-align: center;
	border-bottom: solid 3px #cccccc;
	padding-bottom: 10px;
	
}


#githubIcon {
	float: left;
	height: 50px;
	width: 50px;
	margin: 0px 0px 5% 5%;
}

#linkedinIcon {
	float: left;
	height: 50px;
	width: 50px;
	margin: 0px 5% 5% 5%;
}

#stackoverflowIcon {
	float: left;
	height: 50px;
	width: 50px;
	margin: 0px 5% 5% 0px;
}


#footer {
	background: #666666;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	text-align: center;
	position: relative;
	height: 75px;
	border-top:5px solid #4aaaa5;
	font-size: 10px;
	
}

#footerText {
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ffffff;

}

@media screen and (max-width: 980px) {
	
	#headerName{
		background: #4aaaa5;
		position: relative;
		float: left;
		width: 275px;
		height: 100px;
		vertical-align: middle;
		text-align: center;
		margin-left: 10%;
	}

	#profilePic {
		clear: both;
		margin: 0 5% 2px 5%;
		height: 175px; 
		width: 90%;

		}

	#containerMainPortfolio {
		width: 100%;
		height: 100%;
		background-image: url(../images/new_year_background/new_year_background.png);
		background-repeat: repeat;
		overflow: auto;
		position: relative;
		}


	#divMainPortfolio {
		width: 35%;
		height: 90%;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 15%;
		margin-top: 5%;
		margin-right: 0;
		margin-bottom: 5%;
		position:relative;
		overflow: auto;
		}

	#divMainAbout {

		width: 35%;
		height: 90%;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 15%;
		margin-top: 5%;
		margin-right: 0;
		margin-bottom: 5%;
		position: relative;
		overflow: auto;

		}

	#firstParagraph {

		color: #777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.5vh;
		margin-right: 5%;
		margin-left: 5%;
		line-height: 2vh;
		}

	#secondParagraph {
		color: #777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.5vh;
		margin: 5%;
		line-height: 2vh;
		}


	#portfolio1 {
		height: 150px;
		width: 90%;
		background-image: url(../images/bread.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;

	}

	#portfolio2 {
		height: 150px;
		width: 90%;
		background-image: url(../images/bridge.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio3 {
		height: 150px;
		width: 90%;
		background-image: url(../images/music.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio4 {
		height: 150px;
		width: 90%;
		background-image: url(../images/pig.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio5 {
		height: 150px;
		width: 90%;
		background-image: url(../images/vegas.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}

	.innerPortfolio {
		position: absolute;
		bottom: 2mm;
		background-color: #4aaaa5;
		height: 50px;
		width: 100%;
		color: #ffffff;
		text-align: center;
	}

	.portfolioText {
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#divMainContact {
		width: 45%;
		height: 90%;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 10%;
		margin-top: 5%;
		margin-right: 5%;
		margin-bottom: 5%;
		position:relative;
	}

	.divConnect {
		background: white;
		float: right;
		margin-top: 5%;
		margin-right: 10%;
		width: 30%;
		height: 150px;
		}

	#githubIcon {
		float: left;
		height: 60px;
		width: 60px;
		margin: 0px 0px 5% 5%;
	}

	#linkedinIcon {
		float: left;
		height: 60px;
		width: 60px;
		margin: 0px 5% 5% 5%;
	}

	#stackoverflowIcon {
		float: left;
		height: 60px;
		width: 60px;
		margin: 0px 5% 5% 0px;
	}

}

@media screen and (max-width: 768px) {
	#headerName{
		background: #4aaaa5;
		margin-left: 5%;
		width: 350px;
		height: 100px;
	}

	#containerHeader{
	height: 100px;
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	position: relative;
	}

	#headerLinkAbout {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float: right;
	margin-top: 5%;
	padding-right: 2%;
	vertical-align: middle;
	text-align: center;
	color: #777777;
	text-decoration: none;


	}	

	#headerLinkPortfolio {
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		float: right;
		margin-top:5%;
		padding-left: 2%;
		padding-right: 2%;
		border-left: solid 1px #cccccc;
		vertical-align: middle;
		text-align: center;
		color: #777777;
		text-decoration: none;

	}

	#headerLinkContact {
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		float: right;
		margin-top:5%;
		margin-right: 2%;
		padding-left: 2%;
		border-left: solid 1px #cccccc;
		vertical-align: middle;
		text-align: center;
		color: #777777;
		text-decoration: none;

	}

	#profilePic {
		float: left;
		margin: 0 10px 2px 10px;
		height: 225px; 
		width: 300px;

		}

	#divMainAbout {

		width: 90%;
		height: 450px;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 5%;
		margin-top: 10px;
		margin-right: 5%;
		margin-bottom: 5px;
		position: relative;
		overflow: auto;

		}

	#firstParagraph {

		color: #777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.5vh;
		margin-right: 5%;
		margin-left: 5%;
		line-height: 2vh;
		}

	#secondParagraph {
		color: #777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.5vh;
		margin: 5%;
		line-height: 2vh;
		}

	#divMainContact {
		width: 90%;
		height: 90%;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
		margin-right: 5%;
		margin-bottom: 5%;
		position:relative;
	}

	#formSheet {
		color: #808080;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		margin: 5% 5% 5% 5%;
		font-size: 20px;
		}

	.textBox {
		color: #cccccc;
		width: 95%;
		margin: 1% 0 1% 0;
		height: 30px;
		font-size: 20px;
	}

	.submitButton {
		background: #4aaaa5;
		color: #ffffff;
		font-family: 'Georgia', Times, "Times New Roman", serif;
		border: none;
		width:100px;
		height:50px;
		position: relative;
		margin-top: 10px;
		font-size: 18px;
	}

	textarea {
		border-color: #cccccc;
		width: 95%;
		height: 150px;
		margin: 1% 0 1% 0;
	}

	#divMainPortfolio {
		width: 90%;
		height: 90%;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
		margin-right: 5%;
		margin-bottom: 5%;
		position:relative;
		overflow: auto;
		}
	
	#portfolio1 {
		height: 150px;
		width: 40%;
		background-image: url(../images/bread.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;

	}

	#portfolio2 {
		height: 150px;
		width: 40%;
		background-image: url(../images/bridge.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio3 {
		height: 150px;
		width: 40%;
		background-image: url(../images/music.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio4 {
		height: 150px;
		width: 40%;
		background-image: url(../images/pig.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio5 {
		height: 150px;
		width: 40%;
		background-image: url(../images/vegas.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}

	.innerPortfolio {
		position: absolute;
		bottom: 2mm;
		background-color: #4aaaa5;
		height: 50px;
		width: 100%;
		color: #ffffff;
		text-align: center;
	}


	.divConnect {
		background: white;
		clear: both;
		margin-top: 5px;
		margin-right: 5%;
		margin-left: 5%;
		width: 90%;
		height: 140px;
		position: relative;
		}

	#githubIcon {
		float: left;
		height: 60px;
		width: 60px;
		margin: 0px 0px 5% 5%;
	}

	#linkedinIcon {
		float: left;
		height: 60px;
		width: 60px;
		margin: 0px 5% 5% 5%;
	}

	#stackoverflowIcon {
		float: left;
		height: 60px;
		width: 60px;
		margin: 0px 5% 5% 0px;
	}
}

@media screen and (max-width: 640px) {
	#headerName{
		background: #4aaaa5;
		margin-left: 0;
		width: 100%;
		height: 50px;
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
	}

	#containerHeader{
		height: 100px;
		width: 100%;
		background: #ffffff;
		border-bottom: 2px solid #cccccc;
		position: relative;
	
	}

	.navBar {
		position: absolute;
		height: 50px;
		top: 50%;
		right:25%;
		left:25%;
		
}
	#headerLinkAbout {
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		margin-top: 10%;
		padding-right: 2%;
		vertical-align: middle;
		text-align: center;
		color: #777777;
		text-decoration: none;
		float: right;
		
		position: relative;


	}	

	#headerLinkPortfolio {
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		margin-top:10%;
		padding-left: 2%;
		padding-right: 2%;
		border-left: solid 1px #cccccc;
		vertical-align: middle;
		text-align: center;
		color: #777777;
		text-decoration: none;
		float: right;
		
		position:relative;
		
	}

	#headerLinkContact {
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		margin-top:10%;
		margin-right: 2%;
		padding-left: 2%;
		border-left: solid 1px #cccccc;
		vertical-align: middle;
		text-align: center;
		color: #777777;
		text-decoration: none;
		
		float:right;
		position:relative;

	}
	
	#profilePic {
		float: left;
		margin: 0 10% 2px 10%;
		height: 50%; 
		width: 80%;

		}

	#divMainAbout {

		width: 90%;
		height: 450px;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 5%;
		margin-top: 10px;
		margin-right: 5%;
		margin-bottom: 5px;
		position: relative;
		overflow: auto;

		}

	#firstParagraph {

		color: #777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.5vh;
		margin-right: 5%;
		margin-left: 5%;
		line-height: 2vh;
		}

	#secondParagraph {
		color: #777777;
		font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.5vh;
		margin: 5%;
		line-height: 2vh;
		}
	
	#divMainPortfolio {
		width: 90%;
		height: 90%;
		background: white;
		border: 1px;
		border-color: #dddddd;
		float: left;
		margin-left: 5%;
		margin-top: 5%;
		margin-right: 5%;
		margin-bottom: 5%;
		position:relative;
		overflow: auto;
		}
	
	#portfolio1 {
		height: 300px;
		width: 90%;
		background-image: url(../images/bread.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;

	}

	#portfolio2 {
		height: 300px;
		width: 90%;
		background-image: url(../images/bridge.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio3 {
		height: 300px;
		width: 90%;
		background-image: url(../images/music.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio4 {
		height: 300px;
		width: 90%;
		background-image: url(../images/pig.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
	#portfolio5 {
		height: 300px;
		width: 90%;
		background-image: url(../images/vegas.jpeg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		float: left;
		margin: 0 5% 10px 5%;
	}
		


}